; ---------------------------------------------------------------------------
;ÅyÉf Å[ É^ ñº ÅzÇrÇlÇeÉiÉCÉtóp CFGFILE     05R/W -> AG-10 v2.60
;ÅyçÏ   ê¨   é“Åzê{äòèràÍ (VEN10211@nifty.com)
;ÅyëŒ âû âπ åπ ÅzAG-10/3/WB i-Series X2 X3 X3R ìô KORG GM ëŒâûâπåπ
;ÅyÇrÇlÇeÉiÉCÉtÅzóvv1.18à»ç~
; ---------------------------------------------------------------------------
;
[SOURCE]
KORG 05R/W ,42,1
[DESTINATION]
KORG GM    ,42,0
;
[ADJUST]
;
; BANKA
; SFX
;
Sunrise   ,0 , 0,  0,-20, 56,0,101  ,0
MachineAge,0 , 0, 10,-20, 56,0,92   ,0
GlideSweep,0 , 0, 20,-20, 56,0,95   ,0
SpaceWing ,0 , 0, 30,-20, 56,0,101  ,0
Neutron   ,0 , 0, 40,-10, 56,0,96   ,0
DreamWorld,0 , 0, 50,-20, 56,0,97   ,0
Spectrum  ,0 , 0, 60,-20, 56,0,101  ,0
InTheTrees,0 , 0, 70,-20, 56,0,126  ,0
Halifax NS,0 , 0, 80,-20, 56,0,123  ,0
SteamCloud,0 , 0, 90,-20, 56,0,89   ,0
;
; Key
;
Piano '16 ,0 , 0,  1, 19, 56,0,0    ,-12
Hot Keys  ,0 , 0, 11,  6, 56,0,18   ,-12
Last Tango,0 , 0, 21,  0, 56,0,23   ,0
Gospel Org,0 , 0, 31,  6, 56,0,17   ,-12
PianoHaven,0 , 0, 41, 30, 56,0,0    ,-12
HarpsiFunk,0 , 0, 51,  0, 56,0,28   ,-12
FullPipes ,0 , 0, 61,  6, 56,0,19   ,0
SantaClav ,0 , 0, 71,  0, 56,0,6    ,-12
Drawbars  ,0 , 0, 81,  6, 56,0,18   ,-12
Bouzouki  ,0 , 0, 91,  0, 56,0,104  ,0
;
; Brass/Wind
;
AltoBreath,0 , 0,  2,  6, 56,0,65   ,0
Brass Band,0 , 0, 12, -9, 56,0,61   ,-12
MagicFlute,0 , 0, 22, -1, 56,0,73   ,0
Trumpets  ,0 , 0, 32,  5, 56,0,56   ,0
Shaku Bend,0 , 0, 42,  0, 56,0,77   ,0
FlugelHorn,0 , 0, 52,  0, 56,0,56   ,0
Woodwinds ,0 , 0, 62, -2, 56,0,68   ,0
Sfz<Brass ,0 , 0, 72,  0, 56,0,61   ,-12
Fanfare   ,0 , 0, 82,  0, 56,0,61   ,-12
BriteBrass,0 , 0, 92,  0, 56,0,61   ,0
;
; E.P
;
TinyDancer,0 , 0,  3,  0, 56,0,4    ,-12
MaxiTine  ,0 , 0, 13,-14, 56,0,5    ,-12
Operators ,0 , 0, 23,  0, 56,0,99   ,-12
FreshAir  ,0 , 0, 33,-12, 56,0,100  ,0
BowenWave ,0 , 0, 43,  0, 56,0,4    ,-12
Elec.Tap  ,0 , 0, 53,  0, 56,0,4    ,-12
Whirly    ,0 , 0, 63,  0, 56,0,32   ,-12
Tine Pad  ,0 , 0, 73,  0, 56,0,88   ,0
Hard Tines,0 , 0, 83,-15, 56,0,4    ,0
DWGS EP   ,0 , 0, 93,  2, 56,0,5    ,-12
;
; Guitar
;
Spruce Gtr,0 , 0,  4, -2, 56,0,25   ,-12
Power Rock,0 , 0, 14, -8, 56,0,30   ,0
E.Guitars ,0 , 0, 24, -6, 56,0,27   ,-12
RockMutes ,0 , 0, 34,  9, 56,0,28   ,-12
Clean Funk,0 , 0, 44, -5, 56,0,27   ,-12
Harmonics ,0 , 0, 54,  0, 56,0,31   ,0
LeadGuitar,0 , 0, 64,-14, 56,0,30   ,0
PedalSteel,0 , 0, 74,  0, 56,0,26   ,0
Dr.Guitar ,0 , 0, 84,  0, 56,0,29   ,-12
JoyStickUp,0 , 0, 94, -8, 56,0,29   ,-12
;
; Bell
;
Vibra Bell,0 , 0,  5,  0, 56,0,11   ,12
Tabla Talk,0 , 0, 15, -5, 56,0,12   ,0
Gamelan   ,0 , 0, 25,-19, 56,0,98   ,0
Dustette  ,0 , 0, 35,  0, 56,0,8    ,0
SplitBell ,0 , 0, 45, -9, 56,0,98   ,0
Africana  ,0 , 0, 55,  0, 56,0,96   ,0
Isabelle  ,0 , 0, 65, 20, 56,0,9    ,12
Log Drums ,0 , 0, 75,  0, 56,0,108  ,0
EtherBells,0 , 0, 85,-20, 56,0,88   ,12
WaveCycles,0 , 0, 95,-20, 56,0,102  ,0
;
; Bass
;
XFadeBass ,0 , 0,  6,  0, 56,0,32   ,-12
FingerBass,0 , 0, 16,  8, 56,0,33   ,-12
Zap Bass  ,0 , 0, 26,  0, 56,0,38   ,-12
PickedBass,0 , 0, 36,  6, 56,0,33   ,-12
Slap It   ,0 , 0, 46, -2, 56,0,37   ,-12
TecnoBass ,0 , 0, 56,  0, 56,0,38   ,-12
Fat Fretty,0 , 0, 66,  0, 56,0,36   ,-12
HouseBass1,0 , 0, 76,-10, 56,0,32   ,-12
Bass/Harm ,0 , 0, 86,  0, 56,0,32   ,-12
Rap Bass  ,0 , 0, 96,-10, 56,0,38   ,-12
;
; Strings/vox
;
TheStrings,0 , 0,  7,  9, 56,0,49   ,-12
LiteVoices,0 , 0, 17,  0, 56,0,85   ,-12
DigitalAir,0 , 0, 27,  0, 56,0,53   ,-12
ChamberEns,0 , 0, 37,  9, 56,0,48   ,-12
AnalogPad ,0 , 0, 47,  9, 56,0,50   ,-12
Airways   ,0 , 0, 57,  0, 56,0,54   ,-12
Poppin'Pad,0 , 0, 67, -1, 56,0,75   ,0
Ambi.Voice,0 , 0, 77, -2, 56,0,52   ,-12
Air Vox   ,0 , 0, 87,-20, 56,0,53   ,0
OoooohPad ,0 , 0, 97,  0, 56,0,54   ,0
;
; Syn
;
PowerSynth,0 , 0,  8,  0, 56,0,62   ,-12
Color Pad ,0 , 0, 18,  0, 56,0,93   ,-12
Analogist ,0 , 0, 28,  2, 56,0,50   ,-12
Wire Pad  ,0 , 0, 38,  0, 56,0,93   ,-12
Residue   ,0 , 0, 48,  0, 56,0,87   ,-12
Busy Boy  ,0 , 0, 58,  3, 56,0,31   ,-12
Soft Horns,0 , 0, 68,  0, 56,0,60   ,-12
MonoLead  ,0 , 0, 78,  8, 56,0,81   ,0
Drums Hit ,0 , 0, 88,  0, 56,0,116  ,0
Bright Pad,0 , 0, 98,  0, 56,0,93   ,-12
;
; sfx2
;
Festival! ,0 , 0, 19,-20, 56,0,13   ,0
MandoTrem ,0 , 0, 29,-20, 56,0,105  ,0
Industrial,0 , 0, 39,-20, 56,0,55   ,0
OrchPerc  ,0 , 0, 49,-20, 56,0,14   ,0
Heartbeat ,0 , 0, 59,-20, 56,0,118  ,0
Hackbrett ,0 , 0, 79,-20, 56,0,98   ,0
50's Scifi,0 , 0, 89,-20, 56,0,101  ,0
HarpPluck ,0 , 0, 99,-20, 56,0,32   ,0
;
[DRUMS]
;
(GM   Kit                 ,  62, 0, 0,  0, 62,0,0   ,0
Kick ,28,0,36
;
(Power Kit                ,  62, 0,16,  0, 62,0,16  ,0
Kick ,28,0,36
;
(Analog Kit               ,  62, 0,25,  0, 62,0,25  ,0
Kick ,28,0,36
;
(Brush Kit                ,  62, 0,40,  0, 62,0,40  ,0
Kick ,28,0,36
;
(Jazz Kit   -> GM Kit     ,  62, 0,32,  0, 62,0,0   ,0
;
Rock Kick ,36,0,28
Soft Snare,38,0,29
;
(Perc Kit   -> GM Kit     ,  62, 0,64,  0, 62,0,0   ,0
;
Hi Bongo      ,28,  0,60
Low Bongo     ,29,  0,61
Tambourine    ,30,  0,54
Agogo         ,31,  0,68
Vocal Snare1  ,32,  0,53
Agogo         ,33,  0,67
Slap Bongo    ,34,  0,62
Wood Block 3  ,35,  0,77
Claves        ,36,  0,75
Wood Block 2  ,37,  0,76
Cow bell      ,38,  0,56
Wood Block 1  ,39,  0,76
Castanet      ,40,  0,85
Baya 1        ,41,  0,41
Cabasa        ,42,  0,82
Baya 1        ,43,  0,43
Maracas       ,44,  0,70
Baya 2        ,45,  0,43
Cabasa        ,46,  0,70
Tabla  3      ,47 , 0,62
Tabla  2      ,48 , 0,62
Vivra Slap    ,49 , 0,58
Tabla  1      ,50 , 0,62
Mute Triangle ,51 , 0,80
Orch BD       ,52 , 0,36
Open Triangle ,53 , 0,81
Guiro S       ,54 , 0,73
Jingle Bells  ,55 , 0,83
Guiro L       ,56 , 0,74
Bell Tree     ,57 , 0,84
Thing         ,58 , 0,84
Maracas       ,59,, 0,70
Hand Claps    ,60 , 0,39
Syn Claps     ,61 , 0,39
Scratch Lo    ,62 , 0,40
Scratch Hi    ,63 , 0,40
Scratch DBL   ,64 , 0,40
Whistle S     ,65 , 0,71
Whistle L     ,66 , 0,72
Slap Conga    ,67 , 0,62
Mute Conga    ,68 , 0,62
Open Conga    ,69 , 0,63
Open Conga    ,70 , 0,64
Mute Cuica    ,71 , 0,78
Open Cuica    ,72 , 0,79
Timbales      ,73 , 0,32
R-Timbal      ,74 , 0,65
Hi-Timbal     ,75 , 0,65
Lo-Timbal     ,76 , 0,66
Syn Claves    ,77 , 0,75
Syn Cowbell   ,78 , 0,56
Finger Snap   ,79 , 0,32
Taiko H       ,80 , 0,87
Taiko L       ,81 , 0,88
Zap 2         ,82 , 0,31
Roll Snare 1  ,83 , 0,34
Roll Snare 2  ,84 , 0,33
Orch Crash    ,85 , 0,49
;
(Dance Kit  -> Analog Kit ,  62, 0,24,  0, 62,0,25  ,0
;
909 Snare     ,38 , 0,29
;
(Orch Kit   -> GM Kit     ,  62, 0,48,  0, 62,0,0   ,0
;
TiteHH,27,  0, 42
PedlHH,28,  0, 44
OpenHH,29,  0, 46
RideEd,30,  0, 51
Kick  ,31,  0, 31
Kick  ,32,  0, 32
Kick  ,33,  0, 33
Kick  ,34,  0, 34
Kick  ,35,  0, 35
OrchBD,36,  0, 87
Snare ,38,-10, 38
Snare ,40,-10, 38
Timpan,41,  0, 41
Timpan,42,  0, 41
Timpan,43,  0, 43
Timpan,44,  0, 43
Timpan,45,  0, 45
Timpan,46,  0, 45
Timpan,47,  0, 47
Timpan,48,  0, 47
Timpan,49,  0, 48
Timpan,50,  0, 48
Timpan,51,  0, 50
;
(Total Kit  -> GM Kit     ,   0, 0, 9,  0, 62,0, 0  ,0
;
Fat   Kick     ,36 ,0  ,31
Real  Kick     ,37 ,0  ,35
Ambi. Kick     ,38 ,0  ,31
Syn.  Kick 3   ,39 ,0  ,36
Gated Kick     ,40 ,0  ,31
Piclo Snare    ,41 ,0  ,29
Soft  Snare    ,42 ,0  ,29
Gated Snare    ,43 ,0  ,40
Syn.  Snare 1  ,44 ,0  ,40
Snare 1        ,45 ,0  ,33
Side Stick     ,46 ,0  ,37
Rock Snare     ,47 ,0  ,38
Tom Lo         ,48 ,0  ,43
Process Tom    ,49 ,0  ,43
Tom Lo         ,50 ,0  ,47
Process Tom    ,51 ,0  ,47
Tom Hi         ,52 ,0  ,50
Tite HH        ,53 ,0  ,42
Close syn HH   ,54 ,0  ,42
Tite HH        ,55 ,0  ,42
Open  Syn HH   ,56 ,0  ,46
Open HH        ,57 ,0  ,46
Tambourine     ,58 ,0  ,54
Pedal HH       ,59 ,0  ,44
Clash Cym      ,60 ,0  ,49
Clash Cym      ,61 ,0  ,57
Ride Edge      ,62 ,0  ,51
Ride Cup       ,63 ,0  ,53
Syn Maracas    ,64 ,0  ,70
Cabasa         ,65 ,0  ,69
Hand Claps     ,66 ,0  ,39
Lo Bongo       ,67 ,0  ,61
Slap Bongo     ,68 ,0  ,62
Hi Boongo      ,69 ,0  ,60
Cowbell        ,70 ,0  ,56
Open Conga     ,71 ,0  ,64
Open Conga     ,72 ,0  ,63
Lo Timbal      ,73 ,0  ,66
Mute Triangl   ,74 ,0  ,80
Hi Timbal      ,75 ,0  ,65
Open Triangl   ,76 ,0  ,81
Scratch Hi     ,77 ,0  ,32
Scratch Lo     ,78 ,0  ,32
Scratch Dbl    ,79 ,0  ,32
Rev.Snare      ,80 ,0  ,34
Ambi.Snare     ,81 ,0  ,38
RollSnare1     ,82 ,0  ,34
RollSnare2     ,83 ,0  ,33
Pole           ,84 ,0  ,54
Syn Snare 2    ,85 ,0  ,29
Syn Claps      ,86 ,0  ,39
Syn Claves     ,87 ,0  ,75
Syn Tom 1 LO   ,88 ,0  ,41
Syn Tom 1 LO   ,89 ,0  ,43
Syn Rim        ,90 ,0  ,32
Syn Tom 2      ,91 ,0  ,41
Syn Tom 2      ,92 ,0  ,43
Syn Tom 2      ,93 ,0  ,47
Syn Tom 2      ,94 ,0  ,48
Syn Tom 2      ,95 ,0  ,50
Belltree       ,96 ,0  ,84
;
(Producr Kit->  GM Kit     ,   0, 0,69,  0, 62,0,0 ,0
;
Punch Kick     ,36 ,-10,28
Crisp Kick     ,37 ,0  ,36
Fat Kick       ,38 ,0  ,31
Real Kick      ,39 ,0  ,35
Rock Kick      ,40 ,0  ,28
Ambi.Kick      ,41 ,0  ,36
Gated Kick     ,42 ,0  ,31
Metal Kick     ,43 ,0  ,31
Process Kick   ,44 ,0  ,36
dAnce Kick     ,45 ,0  ,36
Syn Kick 3     ,46 ,0  ,36
Syn Kick 1     ,47 ,0  ,36
Syn Kick 2     ,48 ,0  ,36
Orch BD        ,49 ,0  ,36
Snare 1        ,50 ,0  ,33
Soft Snare     ,51 ,-10,38
Snare 2        ,52 ,-10,38
PicloSnare     ,53 ,0  ,38
Snare  4       ,54 ,0  ,40
Snare  3       ,55 ,0  ,29
Light Snare    ,56 ,0  ,40
Gated Snare    ,57 ,0  ,38
Tight Snare    ,58 ,0  ,33
Power Snare    ,59 ,0  ,38
Ambi.Snare     ,60 ,0  ,40
rev. Snare     ,61 ,0  ,38
Rock Snare     ,62 ,0  ,38
Roll Snare 1   ,63 ,0  ,34
Roll Snare 2   ,64 ,0  ,33
Side Stick     ,65 ,0  ,37
Syn Snare 1    ,66 ,0  ,38
Syn Snare 2    ,67 ,0  ,40
Gun Shot       ,68 ,-10,38
Vocal Snare    ,69 ,0  ,51
Brush Swish    ,70 ,0  ,40
Brush Swirl    ,71 ,0  ,40
Brush Tap      ,72 ,0  ,38
Brush Slap     ,73 ,0  ,33
Tite HH        ,74 ,0  ,42
Open HH        ,75 ,0  ,46
Pedal HH       ,76 ,0  ,44
Close Syn HH   ,77 ,0  ,42
Open Syn HH    ,78 ,0  ,46
Clash Cym      ,79 ,0  ,49
SplashCym      ,80 ,0  ,55
China Cym      ,81 ,0  ,52
Ride Edge      ,82 ,0  ,51
Ride Cup       ,83 ,0  ,53
Ride Cym 1     ,84 ,0  ,59
Ride Cym 2     ,85 ,0  ,59
Tom Lo         ,86 ,0  ,43
Tom Lo         ,87 ,0  ,47
Tom Hi         ,88 ,0  ,50
Process Tom    ,89 ,0  ,43
Process Tom    ,90 ,0  ,47
Syn Tom 1 Lo   ,91 ,-20,43
Syn Tom 1 Hi   ,92 ,-20,47
Syn Tom 2      ,93 ,0  ,43
Syn Tom 2      ,94 ,0  ,47
Brush Tom      ,95 ,-10,43
Brush Tom      ,96 ,-10,47
;
;(C) 1996-2001 Toshikazu Sugama.
;
