; ---------------------------------------------------------------------------
;yƒf [ ƒ^ –¼ z‚r‚l‚eƒiƒCƒt—p CFGFILE     X5DR -> MU80 v2.60
;yì   ¬   ŽÒz{Š˜rˆê (VEN10211@nifty.com)
;y‘Î ‰ž ‰¹ Œ¹ zMU80/MU50/MU90
;y‚r‚l‚eƒiƒCƒtz—vv2.09ˆÈ~
;y•â ‘« à –¾ z
; ---------------------------------------------------------------------------
;
[SOURCE]
KORG   X5DR ,42,2
[DESTINATION]
YAMAHA MU80, 43,0
;
[VELOCITY]
VELOCITY,90,6,1
;
[CC CHANGE]
;
CC#1  MODURATION  ,  1 , 25 ,  0 ,0
CC#2  VDF MODURA  ,  2 ,  0 ,  0 ,0
CC#72 RELEASE     , 72 , 25 , 48 ,0
CC#73 ATTACK      , 73 , 25 , 48 ,5
CC#74 BRIGHTNESS  , 74 , 50 , 32 ,0
CC#11 EXPRESSION  , 11 ,100 ,  0 ,3
CC#91 REVERB SEND , 91 , 91 ,  2 ,3
CC#93 CHORUS SEND , 93 , 80 ,  0 ,3
CC#94 EFFECT2 SW  , 94 ,  0 ,  0 ,0
;
[EXCLUSIVE]
;
(GM ON, F0,7E,7F,09,01,F7
 XG RS, F0,43,10,4C,00,00,7E,00,F7
;
[ADJUST]
;
; GM TONES
;
Piano     ,56,0,  0,  2,  0, 1,  0  ,0
BritePiano,56,0,  1, -4,  0, 1,  1  ,0
HammerPno ,56,0,  2, -3,  0,41,  2  ,0
HonkeyTonk,56,0,  3,  8,  0,40,  2  ,0
NewTines  ,56,0,  4,  9,  0,40,  4  ,0
DigiPiano ,56,0,  5, 14,  0,34,  5  ,0,0,0,20
Harpsicord,56,0,  6,  0,  0, 1,  6  ,0
Clav      ,56,0,  7,-10,  0, 1,  7  ,0
;
Celesta   ,56,0,  8,  0,  0, 0,  8  ,0
Glocken   ,56,0,  9, -3,  0, 0,  9  ,0
MusicBox  ,56,0, 10,  2,  0, 0, 10  ,0
Vibes     ,56,0, 11, -3,  0, 0, 11  ,0
Marimba   ,56,0, 12, -6,  0, 1, 12  ,0
Xylophon  ,56,0, 13,  8,  0, 0, 13  ,0
Tubular   ,56,0, 14,  9,  0, 0, 14  ,0
Santur    ,56,0, 15,  0,  0, 0, 15  ,0
;
FullOrgan ,56,0, 16, 19,  0, 0, 16  ,0
PercOrgan ,56,0, 17, 14,  0, 0, 18  ,0
BX-3Organ ,56,0, 18, 12,  0,64, 18  ,0
ChurchPipe,56,0, 19, -2,  0, 0, 19  ,0
Positive  ,56,0, 20,  0,  0, 0, 20  ,0
Musette   ,56,0, 21, -1,  0, 0, 21  ,0
Harmonica ,56,0, 22, -2,  0, 0, 22  ,0
Tango     ,56,0, 23,-15,  0, 0, 23  ,-12
;
ClassicGtr,56,0, 24, -2,  0,16, 24  ,0
A.Guitar  ,56,0, 25,  3,  0,64, 25  ,0
JazzGuitar,56,0, 26, -5,  0, 0, 26  ,0
CleanGtr  ,56,0, 27, -9,  0,64, 27  ,0
MuteGuitar,56,0, 28,-18,  0,65, 28  ,0
OverDrive ,56,0, 29,-12,  0,32, 29  ,0
DistGuitar,56,0, 30,  2,  0, 0, 30  ,0
RockMonics,56,0, 31, -4,  0, 0, 31  ,0
;
JazzBass  ,56,0, 32,  2,  0, 0, 32  ,0
DeepBass  ,56,0, 33, -6,  0,45, 33  ,0
PickBass  ,56,0, 34, -5,  0, 0, 34  ,0
Fretless  ,56,0, 35,-20,  0,32, 35  ,0
SlapBass1 ,56,0, 36, -6,  0, 0, 36  ,0
SlapBass2 ,56,0, 37, -6,  0, 0, 37  ,0
SynthBass1,56,0, 38, -9,  0, 0, 38  ,0
SynthBass2,56,0, 39, -9,  0, 0, 39  ,0
;
Violin    ,56,0, 40,  2,  0, 0, 40  ,0
Viola     ,56,0, 41, -2,  0, 0, 41  ,0
Cello     ,56,0, 42, -6,  0, 0, 42  ,0
ContraBass,56,0, 43, -7,  0, 0, 43  ,0
TremoloStr,56,0, 44,  0,  0, 0, 44  ,0
Pizzicato ,56,0, 45,  0,  0, 0, 45  ,0
Harp      ,56,0, 46, -1,  0, 0, 46  ,0
Timpani   ,56,0, 47,  0,  0, 0, 47  ,0
;
Marcato   ,56,0, 48,  4,  0, 0, 48  ,0
SlowString,56,0, 49,  6,  0, 0, 49  ,0
AnalogPad ,56,0, 50,-16,  0, 0, 50  ,0
StringPad ,56,0, 51,-10,  0, 0, 51  ,0
Choir     ,56,0, 52, -3,  0,16, 52  ,0
DooVoice  ,56,0, 53,  9,  0,64, 53  ,0
Voices    ,56,0, 54,  0,  0, 0, 54  ,0
OrchHit   ,56,0, 55, 18,  0, 0, 55  ,0
;
Trumpet   ,56,0, 56,  6,  0,16, 56  ,0
Trombone  ,56,0, 57,  4,  0,65, 57  ,0
Tuba      ,56,0, 58,  0,  0, 0, 58  ,0
MutedTrpt ,56,0, 59,  0,  0, 0, 59  ,0
FrenchHorn,56,0, 60,  6,  0, 0, 60  ,0
Brass     ,56,0, 61,-13,  0,65, 61  ,0
SynBrass1 ,56,0, 62,  5,  0, 0, 62  ,0
SynBrass2 ,56,0, 63,  5,  0, 0, 63  ,0
;
SopranoSax,56,0, 64,  8,  0, 0, 64  ,0
AltoSax   ,56,0, 65, 11,  0, 0, 65  ,0
TenorSax  ,56,0, 66,  8,  0,64, 66  ,0
BariSax   ,56,0, 67,  7,  0, 0, 67  ,0
SweetOboe ,56,0, 68, 10,  0, 0, 70  ,0
EnglishHrn,56,0, 69,  2,  0, 0, 69  ,0
BassonOboe,56,0, 70, -3,  0, 0, 70  ,0
Clarinet  ,56,0, 71,-11,  0, 0, 71  ,0
;
Piccolo   ,56,0, 72,  2,  0, 0, 72  ,0
Flute     ,56,0, 73,  5,  0, 0, 73  ,0
Recorder  ,56,0, 74,  0,  0, 0, 74  ,0
PanFlute  ,56,0, 75,-12,  0,64, 75  ,0
Bottle    ,56,0, 76,  0,  0, 0, 76  ,0
Shakuhachi,56,0, 77,  0,  0, 0, 77  ,0
Whistle   ,56,0, 78,  0,  0, 0, 78  ,0
Ocarina   ,56,0, 79,  1,  0, 0, 79  ,0
;
SquareWave,56,0, 80,  2,  0, 0, 80  ,0
SawWave   ,56,0, 81, -3,  0,32, 81  ,0
SynCaliope,56,0, 82,  4,  0, 0, 82  ,0
SynChiff  ,56,0, 83,  5,  0, 0, 83  ,0
Charging  ,56,0, 84,  5,  0, 0, 84  ,0
AirChorus ,56,0, 85,  0,  0, 0, 85  ,0
Rezzo4ths ,56,0, 86,  0,  0, 0, 86  ,0
Bass&Lead ,56,0, 87, -3,  0, 0, 87  ,0
;
Fantasia  ,56,0, 88, -5,  0, 0, 88  ,0
WarmPad   ,56,0, 89, -1,  0, 0, 89  ,0
PolyPad   ,56,0, 90,  4,  0, 0, 90  ,0
GhostPad  ,56,0, 91,  0,  0, 0, 91  ,0
BowedGlass,56,0, 92,  0,  0, 0, 92  ,0
MetalPad  ,56,0, 93,  0,  0, 0, 93  ,0
HaloPad   ,56,0, 94, 40,  0, 0, 94  ,0
Sweep     ,56,0, 95,  0,  0, 0, 95  ,0
;
IceRain   ,56,0, 96,  0,  0, 0, 96  ,0
SoundTrack,56,0, 97,  0,  0, 0, 97  ,0
Crystal   ,56,0, 98, -5,  0, 0, 98  ,0
Atmosphere,56,0, 99, -7,  0, 0, 99  ,0
Brightness,56,0,100, 12,  0, 0,100  ,0
Goblin    ,56,0,101,  0,  0, 0,101  ,0
EchoDrop  ,56,0,102,  4,  0, 0,102  ,0
StarTheme ,56,0,103,  3,  0, 0,103  ,0
;
Sitar     ,56,0,104, -6,  0,35,104  ,0
Bnajo     ,56,0,105,  0,  0, 0,105  ,0
Shamisen  ,56,0,106,  5,  0, 0,106  ,0
Koto      ,56,0,107,  0,  0, 0,107  ,0
Kalimba   ,56,0,108,  0,  0, 0,108  ,0
Scotland  ,56,0,109, -4,  0, 0,109  ,0
Fiddle    ,56,0,110,  4,  0, 0,110  ,0
Shanai    ,56,0,111, -5,  0, 0,111  ,0
;
MetalBell ,56,0,112,  0,  0, 0,112  ,0
Agogo     ,56,0,113,  0,  0, 0,113  ,0
SteelDrums,56,0,114,  8,  0, 0,114  ,0
Woodblock ,56,0,115,  0,  0, 0,115  ,0
Taiko     ,56,0,116,-10,  0, 0,116  ,6
Tom       ,56,0,117,  0,  0, 0,117  ,-16
SynthTom  ,56,0,118,-14,  0, 0,118  ,0
RevCymbal ,56,0,119, -7,  0, 0,119  ,0
;
FretNoise ,56,0,120,  0,  0, 0,120  ,0
NoiseChiff,56,0,121,  0,  0, 0,121  ,0
Seashore  ,56,0,122,  0,  0, 0,122  ,0
Birds     ,56,0,123,  0,  0, 0,123  ,0
Telephone ,56,0,124,  0,  0, 0,124  ,0
Helicopter,56,0,125,  0,  0, 0,125  ,0
Stadium!! ,56,0,126,  0,  0, 0,126  ,0
GunShot   ,56,0,127,-20,  0, 0,127  ,-6
;
; BANKA
; SFX
;
PipeDreams,0 , 0,  0, -20,  0,0,97  ,0
Transforms,0 , 0, 10, -20,  0,0,97  ,0
Wave Sweep,0 , 0, 20, -20,  0,0,95  ,0
Sputnik   ,0 , 0, 30, -20,  0,0,96  ,0
LandingPad,0 , 0, 40, -20,  0,0,97  ,0
Vortex    ,0 , 0, 50, -20,  0,0,97  ,0
TimeClocks,0 , 0, 60, -20,  0,0,97  ,0
SynTonic  ,0 , 0, 70, -20,  0,0,97  ,0
Quarks    ,0 , 0, 80,  -2,  0,0,4   ,0
Universe X,0 , 0, 90, -13,  0,0,53  ,0
;
; Key
;
X Piano   ,0 , 0,  1,  6,  0,0,1   ,0
Killer B  ,0 , 0, 11,  0,  0,0,18  ,0
FunkyRoads,0 , 0, 21, 10,  0,64,4  ,0
Super Perc,0 , 0, 31,  0,  0,0,18  ,0
M1 Piano  ,0 , 0, 41,-10,  0,0,2   ,-12
ClickOrgan,0 , 0, 51,  0,  0,0,17  ,0
Classic EP,0 , 0, 61,  0,  0,1,5   ,0
Super BX-3,0 , 0, 71,  0,  0,0,19  ,0
Dyno Tines,0 , 0, 81,  0,  0,0,5   ,0
Big Organ ,0 , 0, 91,  0,  0,0,18  ,0
;
; Brass/Strings
;
BigStrings,0 , 0,  2, 15,  0,0,48  ,-12
Pop Brass ,0 , 0, 12,-11,  0,0,61  ,12
AnaStrings,0 , 0, 22,  0,  0,0,50  ,-12
BrassSwell,0 , 0, 32,  0,  0,0,61  ,0
DynoString,0 , 0, 42, 17,  0,0,48  ,0
StereoHorn,0 , 0, 52,  0,  0,0,60  ,0
Cello Ens.,0 , 0, 62,  0,  0,0,44  ,0
Trump Ens.,0 , 0, 72, 10,  0,0,56  ,0
VeloFlugel,0 , 0, 82,  0,  0,0,56  ,0
EthnoVioln,0 , 0, 92,  0,  0,0,40  ,0
;
; ƒGƒXƒjƒbƒN
;
Asian Jung,0 , 0,  3,  0,  0,0,47  ,0
Harp Gliss,0 , 0, 13,  0,  0,0,47  ,0
Euro Pipe ,0 , 0, 23,  0,  0,0,20  ,0
Lore      ,0 , 0, 33,  0,  0,0,0   ,0
Tamboura  ,0 , 0, 43,  0,  0,64,104 ,0
MalletLoop,0 , 0, 53,  0,  0,0,0   ,0
Godfather ,0 , 0, 63,  0,  0,0,25  ,0
Jaw Harp  ,0 , 0, 73,  0,  0,0,0   ,0
Polka Box ,0 , 0, 83,  0,  0,0,23  ,0
Real Sitar,0 , 0, 93,  0,  0,0,104 ,0
;
; Guitar
;
Rock On!!!,0 , 0,  4,  9,  0,0,30  ,12
BriteSteel,0 , 0, 14,  6,  0,0,25  ,0
Stratified,0 , 0, 24,  1,  0,0,27  ,-12
Follow Me ,0 , 0, 34,  0,  0,0,26  ,0
Chruncher ,0 , 0, 44, 12, 0,32,29  ,0
Flamenco  ,0 , 0, 54,  6, 0,16,24  ,-12
Funk Guitr,0 , 0, 64,  0, 0,64,27  ,0
Rock Chuga,0 , 0, 74,-12,  0,0,30  ,0
FeedbackGt,0 , 0, 84,  0,  0,0,30  ,0
Greek Gtr.,0 , 0, 94,  0,  0,0,25  ,0
;
; Bell
;
GlockBells,0 , 0,  5,  0,  0,0,98  ,12
PingMallet,0 , 0, 15,  0,  0,0,98  ,0
Crystallce,0 , 0, 25, 12,  0,0,98  ,12
Logs&Bells,0 , 0, 35,  0,  0,0,98  ,0
Star Fire ,0 , 0, 45,  0,  0,0,98  ,0
MetalGhost,0 , 0, 55,  0,  0,0,98  ,0
RealGamlon,0 , 0, 65,  0,  0,0,112 ,0
TheIceMan ,0 , 0, 75,-10,  0,0,98  ,0
Swiss Box ,0 , 0, 85,  0,  0,0,11  ,0
Midi Bells,0 , 0, 95, -9,  0,0,114 ,0
;
; Bass
;
FatRezBass,0 , 0,  6, -7,  0,0,38  ,-12
Upright   ,0 , 0, 16,  0,  0,0,32  ,-12
DanceBass ,0 , 0, 26,  0,  0,0,39  ,-12
90's Bass ,0 , 0, 36,-12,  0,0,33  ,-12
SynthBass3,0 , 0, 46, -6,  0,0,38  ,-12
Velo Pick ,0 , 0, 56, 11,  0,0,34  ,-12
ChromeBass,0 , 0, 66,  0,  0,0,39  ,-12
Velo Slap ,0 , 0, 76,  0,  0,0,37  ,-12
Big Mini  ,0 , 0, 86, -5,  0,0,39  ,-12
Stick Bass,0 , 0, 96,-12,  0,0,33  ,-12
;
; vox
;
BreathyVox,0 , 0,  7,  0,  0,0,53  ,-12
Velo Flute,0 , 0, 17, 20,  0,0,72  ,12
Ghost Vox ,0 , 0, 27,  0,  0,0,53  ,0
FreshWaves,0 , 0, 37,  0,  0,0,100 ,0
Woodwinds ,0 , 0, 47,  0,  0,0,68  ,0
ooooooooze,0 , 0, 57,  0,  0,0,53  ,0
Real Shaku,0 , 0, 67,  0,  0,0,78  ,0
Flutter   ,0 , 0, 77,  0,  0,0,78  ,0
Arabesque ,0 , 0, 87,  0,  0,0,78  ,0
SopranoVox,0 , 0, 97,  0,  0,0,53  ,0
;
; Syn
;
Xanalog   ,0 , 0,  8,  0,  0,0,81  ,-12
LA Synth  ,0 , 0, 18,  0,  0,0,100 ,-12
FatFilterz,0 , 0, 28,  0,  0,0,28  ,0
MIDI Grand,0 , 0, 38,  0,  0,0,2   ,-12
Reso Waves,0 , 0, 48,  0,  0,0,48  ,0
Dr.Tap    ,0 , 0, 58,  0,  0,0,4   ,0
Split Sync,0 , 0, 68,-10,  0,0,81  ,0
Swell Pad ,0 , 0, 78,  0,  0,0,95  ,0
Syn Brass ,0 , 0, 88,  3,  0,0,63  ,0
Solo Synth,0 , 0, 98, 25, 0,40,81  ,0
;
; sfx2 ‘S‚ÄÄŒ»•s”\
;
{Down Low],0 , 0, 29,  0,  0,0,29  ,0
{Mr.Gong] ,0 , 0, 39,  0,  0,0,0   ,1049
{Nature]  ,0 , 0, 69,  0,  0,0,69  ,0
{Natives!],0 , 0, 79,  0,  0,0,79  ,0
{DrillMe!],0 , 0, 89,  0,  0,0,89  ,0
{Jet Star],0 , 0, 99,  0,  0,0,89  ,-24
;
[DRUMS]
;
(GM Kit     -> Standard 1 Kit, 62, 0,0 ,-16, 127,0,0   ,0
;
Rock Kick   ,28,-12,  35
Snare 3     ,29,  0,  40
Open HH     ,30,-25,  46
Fat Kick    ,31,  0,  36
Timbales    ,32,  0,  37
Snare1      ,33,  0,  40
RollSnare1  ,34,  0,  29
Kick        ,35,-20,  35
Kick        ,36,-20,  36
Rim Shot    ,37, 10,  37
Hand Crap   ,39,-20,  39
Snare       ,38,-10,  38
Snare       ,40,-10,  40
Tam         ,41, 10,  41
Close HH    ,42, -8,  42
Tam         ,43, 10,  43
Tam         ,45, 10,  45
Open HH     ,46, -5,  46
Tam         ,47, 10,  47
Crash       ,49, 25,  49
Tambourine  ,54,  8,  54
Crash 2     ,57, 25,  57
High Bongo  ,60,-25,  60
Low  Bongo  ,61,-25,  61
Mute Hi Con ,62,-15,  62
Hi Conga    ,63,-25,  63
Low Conga   ,64,-25,  64
Cabasa      ,69,-24,  69
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Power Kit  -> Rock Kit    ,  62, 0,16, -16, 127,0,16  ,0
;
; ElectKit‚Ì•û‚ªAƒXƒlƒA‚ÆƒLƒbƒN‚ÍŽ—‚Ä‚éBD‚Ý‚É‚æ‚è•Ï‚¦‚Ä‚­‚¾‚³‚¢B
;
; Note 40 ‚ÍˆÓ}“I‚É Note 38‚ÉƒAƒTƒCƒ“‚³‚ê‚Ä‚Ü‚·(^_^;
;
Ambi.Kick   ,28,-20,  35
RockSnare   ,29,-20,  40
Open HH     ,30,-25,  46
GatedKick   ,31,-20,  36
Timbales    ,32,  0,  65
TightSnare  ,33,  0,  40
RevSnare    ,34,  0,  25
Kick      2 ,35,-20,  35
Kick        ,36,-20,  36
Rim Shot    ,37, 30,  37
Hand Crap   ,39,-30,  39
Snare       ,38,-10,  38
Snare       ,40,-10,  38
Open HH     ,46, -5,  46
Tambourine  ,54, -8,  54
High Bongo  ,60,-25,  60
Low  Bongo  ,61,-25,  61
Mute Hi Con ,62,-15,  62
Hi Conga    ,63,-25,  63
Low Conga   ,64,-25,  64
Cabasa      ,69,-24,  69
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Analog Kit -> Analog Set 2 ,  62, 0,25,-16, 127,0,26  ,0
;
SynKick.3   ,28,-10,  35
Syn Snare2  ,29,  0,  40
Open        ,30,-25,  46
Dance.Kick  ,31,  0,  36
Timbales    ,32,  0,  65
Ambi.Snare  ,33,  0,  40
Rev Snare   ,34,  0,  25
Kick        ,35,-20,  35
Kick        ,36,-20,  36
Rim Shot    ,37, 50,  37
Hand Crap   ,39,-30,  39
Tam         ,41, 10,  41
Tam         ,43, 10,  43
Tam         ,45, 10,  45
Open HH     ,46,-25,  46
Tambourine  ,54, -8,  54
High Bongo  ,60,-25,  60
Low  Bongo  ,61,-25,  61
Mute Hi Con ,62,-15,  62
Hi Conga    ,63,-25,  63
Low Conga   ,64,-25,  64
Cabasa      ,69,-24,  69
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Jazz Kit   -> Jazz Kit 2  ,  62, 0,32, -20, 127,0,33  ,0
;
CrispKick   ,28,  0,  35
Snare 4     ,29,  0,  40
Open HH     ,30,  0,  46
Ambi.Kick   ,31,  0,  36
Timbales    ,32,  0,  65
RollSnare2  ,33,  0,  40
RollSnare1  ,34,  0,  25
Kick        ,35,-20,  35
Kick        ,36,-20,  36
Rim Shot    ,37, 40,  37
Snare       ,38,-10,  38
Snare       ,40,-10,  40
Hand Crap   ,39,-20,  39
Open HH     ,46, -5,  46
Tambourine  ,54, -8,  54
High Bongo  ,60,-25,  60
Low  Bongo  ,61,-25,  61
Mute Hi Con ,62,-15,  62
Hi Conga    ,63,-25,  63
Low Conga   ,64,-25,  64
Cabasa      ,69,-24,  69
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Brush Kit  -> Brush Set   ,  62, 0,40, -12, 127,0,40  ,0
;
CrispKick   ,28,  0,  35
FingerSnap  ,29,  0,  19
Open HH     ,30,  0,  46
Ambi.Kick   ,31,  0,  36
Timbales    ,32,  0,  65
Bursh Slap  ,33,  0,  40
RollSnare1  ,34,  0,  29
Kick        ,35,-20,  35
Kick        ,36,-20,  36
Rim Shot    ,37, 50,  37
Hand Crap   ,39,-20,  39
Open HH     ,46, -5,  46
Tambourine  ,54, -8,  54
High Bongo  ,60,-25,  60
Low  Bongo  ,61,-25,  61
Mute Hi Cong,62,-15,  62
Hi Conga    ,63,-25,  63
Low Conga   ,64,-25,  64
Cabasa      ,69,-24,  69
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Perc Kit   -> Std Set     ,  62, 0,64,  0,  127,0,0  ,0
;
Hi Bongo    ,28,  0,60
Low Bongo   ,29,  0,61
Tambourine  ,30,  0,54
Agogo       ,31,  0,67
Vocal Snare1,32,-40,55
Agogo       ,33,  0,68
Slap Bongo  ,34,  0,60
Wood Block 3,35,  0,77
Claves      ,36,  0,75
Wood Block 2,37,  0,77
Cow bell    ,38,  0,56
Wood Block 1,39,  0,76
Castanet    ,40,  0,30
Baya 1      ,41,  0,57
Cabasa      ,42,  0,69
Baya 1      ,43,  0,61
Maracas     ,44,  0,82
Baya 2      ,45,  0,60
Cabasa      ,46,  0,69
Tabla  3    ,47 , 0,59
Tabla  2    ,48 , 0,58
Vivra Slap  ,49 , 0,68
Tabla  1    ,50 , 0,57
Mute Triangl,51 , 0,80
Orch BD     ,52 , 0,32
Open Triangl,53 , 0,81
Guiro S     ,54 , 0,73
Jingle Bells,55 , 0,83
Guiro L     ,56 , 0,74
Bell Tree   ,57 , 0,84
Thing       ,58 , 0,84
Maracas     ,59,, 0,70
Hand Claps  ,60 , 0,39
Syn Claps   ,61 , 0,39
Scratch Lo  ,62 , 0,18
Scratch Hi  ,63 , 0,17
Scratch DBL ,64 , 0,17
Whistle S   ,65 , 0,71
Whistle L   ,66 , 0,72
Slap Conga  ,67 , 0,62
Mute Conga  ,68 , 0,62
Open Conga  ,69 , 0,63
Open Conga  ,70 , 0,64
Mute Cuica  ,71 , 0,78
Open Cuica  ,72 , 0,79
Timbales    ,73 , 0,65
R-Timbal    ,74 , 0,65
Hi-Timbal   ,75 , 0,65
Lo-Timbal   ,76 , 0,64
Syn Claves  ,77 , 0,75
Syn Cowbell ,78 , 0,56
Finger Snap ,79 , 0,19
Taiko H     ,80 , 0,13
Taiko L     ,81 , 0,14
Zap 2       ,82 , 0,15
Roll Snare 1,83 , 0,29
Roll Snare 2,84 , 0,38
Orch Crash  ,85 , 0,49
;
(Dance Kit  -> Dance Kit  ,  62, 0,24,-20,  127,0,27  ,0
;
CrispKick   ,28,  0,  35
PicloSnare  ,29,  0,  40
Open HH     ,30,  0,  46
Syn Kick2   ,31,  0,  35
Side Stick  ,32,  0,  37
TightSanre  ,33,  0,  40
Rev Snare   ,34,  0,  25
Rim Shot    ,37, 50,  37
Hand Crap   ,39,-20,  39
Open HH     ,46, -5,  46
High Bongo  ,60,-25,  60
Low  Bongo  ,61,-25,  61
Mute Hi Con ,62,-15,  62
Hi Conga    ,63,-25,  63
Low Conga   ,64,-25,  64
Cabasa      ,69,-24,  69
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Orch Kit   -> Symph Kit ,  62, 0,48, -5, 127,0,48  ,0
;
Castanet    ,85,  0,  30
Side Stick  ,86,  0,  13
Taiko Lo    ,87,  0,  14
;
(Krazy Kit -> Nothing , 0,0, 9,1000, 0,0, 0  ,0
([Manimals],            0,0,49,1000, 0,0,118 ,0
([Loop SFX],            0,0,59,1000, 0,0,59  ,0
(Combo Kit ->          ,0,0,19,   0,127,0, 0 ,0
;
Fat   Kick     ,36 ,0  ,35
Real  Kick     ,37 ,0  ,35
Ambi. Kick     ,38 ,0  ,35
Syn.  Kick 3   ,39 ,0  ,36
Gated Kick     ,40 ,0  ,35
Piclo Snare    ,41 ,0  ,40
Soft  Snare    ,42 ,0  ,40
Gated Snare    ,43 ,0  ,38
Syn.  Snare 1  ,44 ,0  ,40
Snare 1        ,45 ,0  ,33
Side Stick     ,46 ,0  ,37
Rock Snare     ,47 ,0  ,38
Tom Lo         ,48 ,0  ,43
Process Tom    ,49 ,0  ,43
Tom Lo         ,50 ,0  ,47
Process Tom    ,51 ,0  ,47
Tom Hi         ,52 ,0  ,50
Tite HH        ,53 ,0  ,42
Process Tom    ,54 ,0  ,47
Tite HH        ,55 ,0  ,42
Process Tom    ,56 ,0  ,47
Open HH        ,57 ,0  ,46
Tambourine     ,58 ,0  ,54
Pedal HH       ,59 ,0  ,44
Clash Cym      ,60 ,0  ,49
Clash Cym      ,61 ,0  ,57
Ride Edge      ,62 ,0  ,51
Ride Cup       ,63 ,0  ,53
Syn Maracas    ,64 ,0  ,70
Cabasa         ,65 ,0  ,69
Hand Claps     ,66 ,0  ,39
Lo Bongo       ,67 ,0  ,61
Slap Bongo     ,68 ,0  ,62
Hi Boongo      ,69 ,0  ,60
Cowbell        ,70 ,0  ,56
Open Conga     ,71 ,0  ,64
Open Conga     ,72 ,0  ,63
Lo Timbal      ,73 ,0  ,66
Mute Triangl   ,74 ,0  ,80
Hi Timbal      ,75 ,0  ,65
Open Triangl   ,76 ,0  ,81
Ride Cym 1     ,77 ,0  ,62
Ride Cym 2     ,78 ,0  ,53
China Cym      ,79 ,0  ,60
Rev.Snare      ,80 ,0  ,34
Ambi.Snare     ,81 ,0  ,38
RollSnare1     ,82 ,0  ,34
RollSnare2     ,83 ,0  ,33
Splash Cym     ,84 ,0  ,61
Syn Snare 2    ,85 ,0  ,29
Syn Claps      ,86 ,0  ,39
Syn Claves     ,87 ,0  ,75
Syn Tom 1 LO   ,88 ,0  ,41
Syn Tom 1 LO   ,89 ,0  ,43
Syn Rim        ,90 ,0  ,32
Sagat          ,91 ,0  ,84
Thing          ,92 ,0  ,96
Bell Tree      ,93 ,0  ,96
Bell Tree      ,94 ,0  ,96
Wind Bell      ,95 ,0  ,96
Wind Bell      ,96 ,0  ,96
;
;(C) Toshikazu Sugama 1996-2001
;
