; ---------------------------------------------------------------------------
;yƒf [ ƒ^ –¼ z‚r‚l‚eƒiƒCƒt—p CFGFILE     X5DR -> SC-55mkII v2.60
;yì   ¬   ŽÒz{Š˜rˆê (VEN10211@nifty.com)
;y‘Î ‰ž ‰¹ Œ¹ zSC-55mkII/SC-55ST(SC88/SC88Pro)“™
;y‚r‚l‚eƒiƒCƒtz—vv1.21ˆÈ~
;y•â ‘« à –¾ z‚¤[‚ñAX5D88.CFG‚æ‚è‚à‚±‚Á‚¿‚Ì‚Ù‚¤‚ª‚¢‚¢‚æ‚¤‚¾
; ---------------------------------------------------------------------------
;
[SOURCE]
KORG   X5DR ,42,2
[DESTINATION]
Roland SC-55,41,0
;
[CC CHANGE]
;
CC#1  MODURATION ,1,  20,0 ,0
CC#7  VOLUME     ,7, 100,0 ,0
CC#11 EXPLESSION ,11,100,0 ,3
CC#72 RELEASE    ,72, 50,32,0
CC#73 ATTACK     ,73, 50,32,0
CC#74 CUTOFF     ,74, 25,48,5
CC#91 REVERB     ,91, 92,0 ,0
CC#93 CHORUS     ,93, 98,0 ,3
CC#94 EFFECT2 SW ,94,  0,0 ,0
;
[VOICE RESERVE]
;
VOICE RESERVE,4,1,2,2,2,2,2,2,2,2, 2,1,1,1,1,1
;
[VELOCITY]
VELOCITY,90,6,1
;
[EXCLUSIVE]
;
(UNIVERSAL_MV ,F0,7F,7F,04,01,00,100,F7
 GS_MASTERVOL ,F0,41,10,42,12,40,00,04,  100,10F,F7
;
(UNIVERSAL_BL ,F0,7F,7F,04,02,00,100,F7
 GS_MASTERPAN ,F0,41,10,42,12,40,00,06,  100,10F,F7
;
(GM ON, F0,7E,7F,09,01,F7
 GS RT, F0,41,10,42,12,40,00,7F,00,41,F7
;
[ADJUST]
;
; BANKA
; SFX
;
PipeDreams,0 , 0,  0,1000,  0,1,0   ,0
Transforms,0 , 0, 10,1000,  0,1,0   ,0
Wave Sweep,0 , 0, 20,  -2,  0,1,95  ,-12
Sputnik   ,0 , 0, 30,1000,  0,1,0   ,0
LandingPad,0 , 0, 40,1000,  0,1,0   ,0
Vortex    ,0 , 0, 50, -10,  0,1,52  ,0
TimeClocks,0 , 0, 60,1000,  0,1,0   ,0
SynTonic  ,0 , 0, 70,1000,  0,1,0   ,0
Quarks    ,0 , 0, 80, -20,  0,1,4   ,0
Universe X,0 , 0, 90, -10,  0,1,52  ,0
;
; Key
;
X Piano   ,0 , 0,  1,  0,  0,1,1   ,0
Killer B  ,0 , 0, 11,  0,  0,1,18  ,0
FunkyRoads,0 , 0, 21,  0, 24,1,4   ,0
Super Perc,0 , 0, 31,  0,  0,1,18  ,0
M1 Piano  ,0 , 0, 41,-12,  0,1,2   ,-12
ClickOrgan,0 , 0, 51,  0,  0,1,17  ,0
Classic EP,0 , 0, 61,  0,  8,1,5   ,0
Super BX-3,0 , 0, 71,  0,  0,1,19  ,0
Dyno Tines,0 , 0, 81,  0,  0,1,5   ,0
Big Organ ,0 , 0, 91,  0,  0,1,18  ,0
;
; Brass/Strings
;
BigStrings,0 , 0,  2, 15,  0,1,48  ,-12
Pop Brass ,0 , 0, 12,  2,  0,1,61  ,12
AnaStrings,0 , 0, 22,  0,  0,1,50  ,-12
BrassSwell,0 , 0, 32,  0,  0,1,61  ,0
DynoString,0 , 0, 42, 21,  0,1,48  ,0
StereoHorn,0 , 0, 52,  0,  0,1,60  ,0
Cello Ens.,0 , 0, 62,  0,  0,1,44  ,0
Trump Ens.,0 , 0, 72,  8,  0,1,56  ,0
VeloFlugel,0 , 0, 82,  0,  0,1,56  ,0
EthnoVioln,0 , 0, 92,  0,  0,1,40  ,0
;
; ƒGƒXƒjƒbƒN
;
Asian Jung,0 , 0,  3,  0,  0,1,0   ,0
Harp Gliss,0 , 0, 13,  0,  0,1,0   ,0
Euro Pipe ,0 , 0, 23,  0,  0,1,20  ,0
Lore      ,0 , 0, 33,  0,  0,1,0   ,0
Tamboura  ,0 , 0, 43,  0,  0,1,0   ,0
MalletLoop,0 , 0, 53,  0,  0,1,0   ,0
Godfather ,0 , 0, 63,  0,  0,1,0   ,0
Jaw Harp  ,0 , 0, 73,  0,  0,1,0   ,0
Polka Box ,0 , 0, 83,  0,  0,1,23  ,0
Real Sitar,0 , 0, 93,  0,  0,1,0   ,0
;
; Guitar
;
Rock On!!!,0 , 0,  4,  9,  0,1,30  ,12
BriteSteel,0 , 0, 14,  6,  0,1,25  ,0
Stratified,0 , 0, 24,  1,  0,1,27  ,0
Follow Me ,0 , 0, 34,  0,  0,1,26  ,0
Chruncher ,0 , 0, 44, -1,  0,1,29  ,0
Flamenco  ,0 , 0, 54,  0,  0,1,24  ,0
Funk Guitr,0 , 0, 64,  0,  8,1,27  ,0
Rock Chuga,0 , 0, 74,-12,  0,1,30  ,-12
FeedbackGt,0 , 0, 84,  0,  0,1,30  ,0
Greek Gtr.,0 , 0, 94,  0,  0,1,25  ,0
;
; Bell
;
GlockBells,0 , 0,  5,  0,  0,1,98  ,12
PingMallet,0 , 0, 15,  0,  0,1,98  ,0
Crystallce,0 , 0, 25,  0,  0,1,98  ,0
Logs&Bells,0 , 0, 35,  0,  0,1,98  ,0
Star Fire ,0 , 0, 45,  0,  0,1,98  ,0
MetalGhost,0 , 0, 55,  0,  0,1,98  ,0
RealGamlon,0 , 0, 65,  0,  0,1,98  ,0
TheIceMan ,0 , 0, 75,  0,  0,1,98  ,0
Swiss Box ,0 , 0, 85,  0,  0,1,98  ,0
Midi Bells,0 , 0, 95, -9,  0,1,88  ,0
;
; Bass
;
FatRezBass,0 , 0,  6,  0,  0,1,38  ,-12
Upright   ,0 , 0, 16,  0,  0,1,32  ,-12
DanceBass ,0 , 0, 26,  0,  0,1,39  ,-12
90's Bass ,0 , 0, 36,  0,  0,1,38  ,-12
SynthBass3,0 , 0, 46,  0,  0,1,38  ,-12
Velo Pick ,0 , 0, 56, 12,  0,1,34  ,-12
ChromeBass,0 , 0, 66,  0,  0,1,39  ,-12
Velo Slap ,0 , 0, 76,  0,  0,1,37  ,-12
Big Mini  ,0 , 0, 86,  0,  0,1,39  ,-12
Stick Bass,0 , 0, 96,  0,  0,1,33  ,-12
;
; vox
;
BreathyVox,0 , 0,  7,  0,  0,1,53  ,-12
Velo Flute,0 , 0, 17, 20,  0,1,72  ,12
Ghost Vox ,0 , 0, 27,  0,  0,1,53  ,0
FreshWaves,0 , 0, 37,  0,  0,1,100 ,0
Woodwinds ,0 , 0, 47,  0,  0,1,68  ,0
ooooooooze,0 , 0, 57,  0,  0,1,53  ,0
Real Shaku,0 , 0, 67,  0,  0,1,78  ,0
Flutter   ,0 , 0, 77,  0,  0,1,78  ,0
Arabesque ,0 , 0, 87,  0,  0,1,78  ,0
SopranoVox,0 , 0, 97,  0,  0,1,53  ,0
;
; Syn
;
Xanalog   ,0 , 0,  8,  0,  0,1,81  ,0
LA Synth  ,0 , 0, 18,  0,  0,1,100 ,-12
FatFilterz,0 , 0, 28,  0,  0,1,28  ,0
MIDI Grand,0 , 0, 38,  0,  0,1,0   ,0
Reso Waves,0 , 0, 48,  0,  0,1,48  ,0
Dr.Tap    ,0 , 0, 58,  0,  0,1,0   ,0
Split Sync,0 , 0, 68,-10,  0,1,81  ,0
Swell Pad ,0 , 0, 78,  0,  0,1,78  ,0
Syn Brass ,0 , 0, 88,  0,  0,1,63  ,0
Solo Synth,0 , 0, 98,  9,  8,1,81  ,0
;
; sfx2 ‘S‚ÄÄŒ»•s”\
;
{Down Low],0 , 0, 29,  0,  0,1,29  ,0
{Mr.Gong] ,0 , 0, 39,  0,  0,1,0   ,49
{Nature]  ,0 , 0, 69,  0,  0,1,69  ,0
{Natives!],0 , 0, 79,  0,  0,1,79  ,0
{DrillMe!],0 , 0, 89,  0,  0,1,89  ,0
{Jet Star],0 , 0, 99,  0,  0,1,89  ,-24
;
Piano     ,56, 0,0 ,-5,  0,1,0   ,0
BritePiano,56, 0,1 ,-5,  0,1,1   ,0
HammerPno ,56, 0,2 ,-8,  0,1,2   ,0
HonkeyTonk,56, 0,3 ,-8,  0,1,3   ,0
NewTines  ,56, 0,4 , 7,  0,1,4   ,0
DigiPiano ,56, 0,5 ,-4,  0,1,5   ,0
Harpsicord,56, 0,6 , 4,  0,1,6   ,0
Clav      ,56, 0,7 ,-7,  0,1,7   ,0
;
Celesta   ,56, 0, 8, -6, 0,1,8   ,0
Glocken   ,56, 0, 9, -3, 0,1,9   ,0
MusicBox  ,56, 0,10, -1, 0,1,10  ,0
Vibes     ,56, 0,11, -4, 0,1,11  ,0
Marimba   ,56, 0,12, -6, 0,1,12  ,0
Xylophon  ,56, 0,13,-11, 0,1,13  ,0
Tubular   ,56, 0,14,  2, 0,1,14  ,0
Santur    ,56, 0,15,  0, 0,1,15  ,0
;
FullOrgan ,56, 0,16,  4, 0,1,16  ,0
PercOrgan ,56, 0,17,  5, 0,1,18  ,0
BX-3Organ ,56, 0,18,  5,32,1,17  ,0
ChurchPipe,56, 0,19, -2, 0,1,19  ,0
Positive  ,56, 0,20,  0, 0,1,20  ,0
Musette   ,56, 0,21, -5, 0,1,21  ,0
Harmonica ,56, 0,22, -3, 0,1,22  ,0
Tango     ,56, 0,23, -6, 0,1,23  ,0
;
ClassicGtr,56, 0,24,  1, 0,1,24  ,0
A.Guitar  ,56, 0,25,  3, 0,1,25  ,0
JazzGuitar,56, 0,26, -5, 0,1,26  ,0
CleanGtr  ,56, 0,27, -3, 0,1,27  ,0
MuteGuitar,56, 0,28,-15, 0,1,28  ,0
OverDrive ,56, 0,29,-14, 0,1,29  ,0
DistGuitar,56, 0,30, -9, 0,1,30  ,0
RockMonics,56, 0,31, -4, 0,1,31  ,0
;
JazzBass  ,56, 0,32,  7, 0,1,32  ,0
DeepBass  ,56, 0,33,-13, 0,1,33  ,0
PickBass  ,56, 0,34, -5, 0,1,34  ,0
Fretless  ,56, 0,35,  2, 0,1,35  ,0
SlapBass1 ,56, 0,36,  0, 0,1,36  ,0
SlapBass2 ,56, 0,37,  3, 0,1,37  ,0
SynthBass1,56, 0,38, -1, 0,1,38  ,0
SynthBass2,56, 0,39, -6, 0,1,39  ,0
;
Violin    ,56, 0,40, -5, 0,1,40  ,0
Viola     ,56, 0,41, -2, 0,1,41  ,0
Cello     ,56, 0,42, -6, 0,1,42  ,0
ContraBass,56, 0,43, -7, 0,1,43  ,0
TremoloStr,56, 0,44,  0, 0,1,44  ,0
Pizzicato ,56, 0,45, -9, 0,1,45  ,0
Harp      ,56, 0,46, -8, 0,1,46  ,0
Timpani   ,56, 0,47,  0, 0,1,47  ,0
;
Marcato   ,56, 0,48, -5, 0,1,48  ,0
SlowString,56, 0,49, -4, 0,1,49  ,0
AnalogPad ,56, 0,50,-18, 0,1,50  ,0
StringPad ,56, 0,51,-12, 0,1,51  ,0
Choir     ,56, 0,52, -5, 0,1,52  ,0
DooVoice  ,56, 0,53,-18, 0,1,53  ,0
Voices    ,56, 0,54,  5, 0,1,54  ,0
OrchHit   ,56, 0,55,  0, 0,1,55  ,0
;
Trumpet   ,56, 0,56,  4, 0,1,56  ,0
Trombone  ,56, 0,57,  4, 0,1,57  ,0
Tuba      ,56, 0,58,-10, 0,1,58  ,0
MutedTrpt ,56, 0,59, -2, 0,1,59  ,0
FrenchHorn,56, 0,60,  6, 0,1,60  ,0
Brass     ,56, 0,61, -2, 0,1,61  ,0
SynBrass1 ,56, 0,62,  4, 0,1,62  ,0
SynBrass2 ,56, 0,63, -4, 0,1,63  ,0
;
SopranoSax,56, 0,64,  9, 0,1,65  ,0
AltoSax   ,56, 0,65, 11, 0,1,64  ,0
TenorSax  ,56, 0,66,  7, 0,1,66  ,0
BariSax   ,56, 0,67,  9, 0,1,67  ,0
SweetOboe ,56, 0,68,  6, 0,1,68  ,0
EnglishHrn,56, 0,69,  2, 0,1,69  ,0
BassonOboe,56, 0,70, -3, 0,1,70  ,0
Clarinet  ,56, 0,71,  5, 0,1,71  ,0
;
Piccolo   ,56, 0,72,  2, 0,1,72  ,0
Flute     ,56, 0,73, -2, 0,1,73  ,0
Recorder  ,56, 0,74, 10, 0,1,74  ,0
PanFlute  ,56, 0,75, -8, 0,1,75  ,0
Bottle    ,56, 0,76, -9, 0,1,76  ,0
Shakuhachi,56, 0,77, -1, 0,1,77  ,0
Whistle   ,56, 0,78,  0, 0,1,78  ,0
Ocarina   ,56, 0,79, -4, 0,1,79  ,0
;
SquareWave,56, 0,80, -8, 0,1,80  ,0
SawWave   ,56, 0,81, -3, 0,1,81  ,0
SynCaliope,56, 0,82,  0, 0,1,82  ,0
SynChiff  ,56, 0,83,  0, 0,1,83  ,0
Charging  ,56, 0,84,  0, 0,1,84  ,0
AirChorus ,56, 0,85, -3, 0,1,85  ,0
Rezzo4ths ,56, 0,86,  0, 0,1,86  ,0
Bass&Lead ,56, 0,87,  6, 0,1,87  ,0
;
Fantasia  ,56, 0,88, -5, 0,1,88  ,0
WarmPad   ,56, 0,89,  0, 0,1,89  ,0
PolyPad   ,56, 0,90,  4, 0,1,90  ,0
GhostPad  ,56, 0,91, -1, 0,1,91  ,0
BowedGlass,56, 0,92,  0, 0,1,92  ,0
MetalPad  ,56, 0,93, -2, 0,1,93  ,0
HaloPad   ,56, 0,94,  7, 0,1,94  ,0
Sweep     ,56, 0,95, -5, 0,1,95  ,0
;
IceRain   ,56, 0,96,  0, 0,1,96  ,0
SoundTrack,56, 0,97, -5, 0,1,97  ,0
Crystal   ,56, 0,98, -8, 0,1,98  ,0
Atmosphere,56, 0,99, -7, 0,1,99  ,0
Brightness,56, 0,100,-3, 0,1,100 ,0
Goblin    ,56, 0,101, 0, 0,1,101 ,0
EchoDrop  ,56, 0,102, 4, 0,1,102 ,0
StarTheme ,56, 0,103,-3, 0,1,103 ,0
;
Sitar     ,56, 0,104,-1, 0,1,104 ,0
Bnajo     ,56, 0,105, 0, 0,1,105 ,0
Shamisen  ,56, 0,106, 0, 0,1,106 ,0
Koto      ,56, 0,107, 0, 0,1,107 ,0
Kalimba   ,56, 0,108, 0, 0,1,108 ,0
Scotland  ,56, 0,109,-4, 0,1,109 ,0
Fiddle    ,56, 0,110, 6, 0,1,110 ,0
Shanai    ,56, 0,111, 0, 0,1,111 ,0
;
MetalBell ,56, 0,112, 0, 0,1,112 ,0
Agogo     ,56, 0,113, 0, 0,1,113 ,0
SteelDrums,56, 0,114, 6, 0,1,114 ,0
Woodblock ,56, 0,115, 0, 0,1,115 ,0
Taiko     ,56, 0,116,-10,0,1,116 ,0
Tom       ,56, 0,117,-2, 0,1,117 ,-12
SynthTom  ,56, 0,118,-5, 0,1,118 ,-12
RevCymbal ,56, 0,119,-3, 0,1,119 ,0
;
FretNoise ,56, 0,120, 0, 0,1,120 ,0
NoiseChiff,56, 0,121, 0, 0,0,121 ,0
Seashore  ,56, 0,122, 0, 0,1,122 ,0
Birds     ,56, 0,123, 0, 0,1,123 ,0
Telephone ,56, 0,124, 0, 0,1,124 ,0
Helicopter,56, 0,125, 0, 0,1,125 ,0
Stadium!! ,56, 0,126, 0, 0,1,126 ,0
GunShot   ,56, 0,127,-42,0,1,127 ,-12
;
;
;
[DRUMS]
;
(GM Kit     -> Standard Set,  62, 0,0 , -5,  0,1,0   ,0
;
Rock Kick     ,28,  0,  35
Snare 3       ,29,  0,  40
Open HH       ,30,-25,  46
Fat Kick      ,31,  0,  36
Timbales      ,32,  0,  31
Snare1        ,33,  0,  40
RollSnare1    ,34,  0,  25
Claps         ,39,-12,  39
Tom           ,41,-10,  41
Close hh      ,42,-20,  42
Tom           ,43,-10,  43
Close hh      ,44,-20,  44
Tom           ,45,-10,  45
Open hh       ,46,-25,  46
Tom           ,47,-10,  47
Tom           ,48,-10,  48
Crash         ,49,-18,  49
Tom           ,50,-10,  50
Tombourine    ,54,-10,  54
Crash         ,57,-18,  57
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
Triangle C    ,80, -7,  80
Triangle O    ,81, -7,  81
Gingle Bell   ,83,-20,  83
;
(Power Kit  -> Power Set   ,  62, 0,16,  0,  0,1,16  ,0
;
Ambi.Kick     ,28,  0,  35
RockSnare     ,29,  0,  40
Open HH       ,30,-25,  46
GatedKick     ,31,  0,  36
Timbales      ,32,  0,  31
TightSnare    ,33,  0,  40
RevSnare      ,34,  0,  25
Pow Snare     ,38,-10,  38
Claps         ,39,-12,  39
Tom           ,41,-10,  41
Close hh      ,42,-20,  42
Tom           ,43,-10,  43
Close hh      ,44,-20,  44
Tom           ,45,-10,  45
Open hh       ,46,-25,  46
Tom           ,47,-10,  47
Tom           ,48,-10,  48
Crash         ,49,-18,  49
Tom           ,50,-10,  50
Tombourine    ,54,-10,  54
Crash         ,57,-18,  57
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
Triangle C    ,80, -7,  80
Triangle O    ,81, -7,  81
Gingle Bell   ,83,-20,  83
;
(Analog Kit -> TR-808 Set  ,  62, 0,25,  0,  0,1,25  ,0
;
SynKick.3     ,28,  0,  35
Syn Snare2    ,29,  0,  40
Open          ,30,-25,  46
Dance.Kick    ,31,  0,  36
Timbales      ,32,  0,  31
Ambi.Snare    ,33,  0,  40
Rev Snare     ,34,  0,  25
Claps         ,39,-15,  39
Tom           ,41,-10,  41
Close hh      ,42,-20,  42
Tom           ,43,-10,  43
Close hh      ,44,-20,  44
Tom           ,45,-10,  45
Open hh       ,46,-25,  46
Tom           ,47,-10,  47
Tom           ,48,-10,  48
Crash         ,49,-18,  49
Tom           ,50,-10,  50
Tombourine    ,54,-10,  54
808 Cowbell   ,56,-10,  56
Crash         ,57,-18,  57
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
Triangle C    ,80, -7,  80
Triangle O    ,81, -7,  81
Gingle Bell   ,83,-20,  83
;
(Jazz Kit   -> Std  Set    ,  62, 0,32,  0,  0,1,0   ,0
;
CrispKick     ,28,  0,  35
Snare 4       ,29,  0,  40
Open HH       ,30,-25,  46
Ambi.Kick     ,31,  0,  36
Timbales      ,32,  0,  31
RollSnare2    ,33,  0,  40
RollSnare1    ,34,  0,  25
Claps         ,39,-12,  39
Tom           ,41,-10,  41
Close hh      ,42,-20,  42
Tom           ,43,-10,  43
Close hh      ,44,-20,  44
Tom           ,45,-10,  45
Open hh       ,46,-25,  46
Tom           ,47,-10,  47
Tom           ,48,-10,  48
Crash         ,49,-18,  49
Tom           ,50,-10,  50
Tombourine    ,54,-10,  54
Crash         ,57,-18,  57
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
Triangle C    ,80, -7,  80
Triangle O    ,81, -7,  81
Gingle Bell   ,83,-20,  83
;
(Brush Kit  -> Brush Set   ,  62, 0,40,  0,  0,1,40  ,0
;
CrispKick     ,28,  0,  35
FingerSnap    ,29,  0,  85
Open HH       ,30,-25,  46
Ambi.Kick     ,31,  0,  36
Timbales      ,32,  0,  31
Bursh Slap    ,33,  0,  40
RollSnare1    ,34,  0,  25
Claps         ,39,-12,  39
Tom           ,41,-10,  41
Close hh      ,42,-20,  42
Tom           ,43,-10,  43
Close hh      ,44,-20,  44
Tom           ,45,-10,  45
Open hh       ,46,-25,  46
Tom           ,47,-10,  47
Tom           ,48,-10,  48
Crash         ,49,-18,  49
Tom           ,50,-10,  50
Tombourine    ,54,-10,  54
Crash         ,57,-18,  57
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
Gingle Bell   ,83,-20,  83
;
(Perc Kit   -> St Set     ,  62, 0,64,  0,  0,1,0  ,0
;
Hi Bongo      ,28,  0,60
Low Bongo     ,29,  0,61
Tambourine    ,30,  0,54
Agogo         ,31,  0,68
Vocal Snare1  ,32,-25,55
Agogo         ,33,  0,67
Slap Bongo    ,34,  0,62
Wood Block 3  ,35,  0,77
Claves        ,36,  0,75
Wood Block 2  ,37,  0,76
Cow bell      ,38,  0,56
Wood Block 1  ,39,  0,76
Castanet      ,40,  0,85
Baya 1        ,41,  0,41
Cabasa        ,42,  0,82
Baya 1        ,43,  0,43
Maracas       ,44,  0,70
Baya 2        ,45,  0,43
Cabasa        ,46,  0,70
Tabla  3      ,47 , 0,62
Tabla  2      ,48 , 0,62
Vivra Slap    ,49 , 0,58
Tabla  1      ,50 , 0,62
Mute Triangle ,51 , 0,80
Orch BD       ,52 , 0,36
Open Triangle ,53 , 0,81
Guiro S       ,54 , 0,73
Jingle Bells  ,55,-20,83
Guiro L       ,56 , 0,74
Bell Tree     ,57 ,-2,84
Thing         ,58 , 0,84
Maracas       ,59 , 0,70
Hand Claps    ,60 , 0,39
Syn Claps     ,61 , 0,39
Scratch Lo    ,62 , 0,40
Scratch Hi    ,63 , 0,40
Scratch DBL   ,64 , 0,40
Whistle S     ,65 , 0,71
Whistle L     ,66 , 0,72
Slap Conga    ,67 , 0,62
Mute Conga    ,68 , 0,62
Open Conga    ,69 , 0,63
Open Conga    ,70 , 0,64
Mute Cuica    ,71 , 0,78
Open Cuica    ,72 , 0,79
Timbales      ,73 , 0,32
R-Timbal      ,74 , 0,65
Hi-Timbal     ,75 , 0,65
Lo-Timbal     ,76 , 0,66
Syn Claves    ,77 , 0,75
Syn Cowbell   ,78 , 0,56
Finger Snap   ,79 , 0,31
Taiko H       ,80 , 0,87
Taiko L       ,81 , 0,88
Zap 2         ,82 , 0,27
Roll Snare 1  ,83 , 0,38
Roll Snare 2  ,84 , 0,38
Orch Crash    ,85 , 0,49
;
(Dance Kit  -> Analog Kit  ,  62, 0,24,  6,  0,1,25  ,0
;
CrispKick     ,28,  0,  35
PicloSnare    ,29,  0,  40
Open HH       ,30,-15,  46
Syn Kick2     ,31,  0,  35
Side Stick    ,32,  0,  37
TightSanre    ,33,  0,  40
Rev Snare     ,34,  0,  25
Snare         ,38,  0,  40
Claps         ,39,-12,  39
Tom           ,41,-10,  41
Close hh      ,42,-20,  42
Tom           ,43,-10,  43
Close hh      ,44,-20,  44
Tom           ,45,-10,  45
Open hh       ,46,-25,  46
Tom           ,47,-10,  47
Tom           ,48,-10,  48
Crash         ,49,-18,  49
Tom           ,50,-10,  50
Crash         ,57,-18,  57
Tombourine    ,54,-10,  54
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
Triangle C    ,80, -7,  80
Triangle O    ,81, -7,  81
Gingle Bell   ,83,-20,  83
;
(Orch Kit   -> Oechestra   ,  62, 0,48,  6,  0,1,48  ,0
;
Gingle Bell   ,83,-20,  83
Tombourine    ,54,-10,  54
High Bongo    ,60,-15,  60
Low  Bongo    ,61,-15,  61
Mute Hi Con   ,62,-10,  62
Hi Conga      ,63,-10,  63
Low Conga     ,64,-10,  64
;
(Krazy Kit -> Nothing , 0,0, 9,1000, 0,0, 0  ,0
([Manimals],            0,0,49,1000, 0,0,118 ,0
([Loop SFX],            0,0,59,1000, 0,0,59  ,0
(Combo Kit             ,0,0,19,   0, 0,0, 9  ,0
;
Fat   Kick     ,36 ,0  ,36
Real  Kick     ,37 ,0  ,35
Ambi. Kick     ,38 ,0  ,35
Syn.  Kick 3   ,39 ,0  ,36
Gated Kick     ,40 ,0  ,36
Piclo Snare    ,41 ,0  ,50
Soft  Snare    ,42 ,0  ,50
Gated Snare    ,43 ,0  ,40
Syn.  Snare 1  ,44 ,0  ,40
Snare 1        ,45 ,0  ,38
Side Stick     ,46 ,0  ,37
Rock Snare     ,47 ,0  ,38
Tom Lo         ,48 ,0  ,43
Process Tom    ,49 ,0  ,43
Tom Lo         ,50 ,0  ,47
Process Tom    ,51 ,0  ,47
Tom Hi         ,52 ,0  ,50
Tite HH        ,53 ,0  ,42
Process Tom    ,54 ,0  ,47
Tite HH        ,55 ,0  ,42
Process Tom    ,56 ,0  ,47
Open HH        ,57 ,0  ,46
Tambourine     ,58 ,0  ,54
Pedal HH       ,59 ,0  ,44
Clash Cym      ,60 ,0  ,49
Clash Cym      ,61 ,0  ,57
Ride Edge      ,62 ,0  ,51
Ride Cup       ,63 ,0  ,53
Syn Maracas    ,64 ,0  ,70
Cabasa         ,65 ,0  ,69
Hand Claps     ,66 ,0  ,39
Lo Bongo       ,67 ,0  ,61
Slap Bongo     ,68 ,0  ,62
Hi Boongo      ,69 ,0  ,60
Cowbell        ,70 ,0  ,56
Open Conga     ,71 ,0  ,64
Open Conga     ,72 ,0  ,63
Lo Timbal      ,73 ,0  ,66
Mute Triangl   ,74 ,0  ,80
Hi Timbal      ,75 ,0  ,65
Open Triangl   ,76 ,0  ,81
Ride Cym 1     ,77 ,0  ,62
Ride Cym 2     ,78 ,0  ,53
China Cym      ,79 ,0  ,60
Rev.Snare      ,80 ,0  ,34
Ambi.Snare     ,81 ,0  ,38
RollSnare1     ,82 ,0  ,34
RollSnare2     ,83 ,0  ,33
Splash Cym     ,84 ,0  ,61
Syn Snare 2    ,85 ,0  ,29
Syn Claps      ,86 ,0  ,39
Syn Claves     ,87 ,0  ,75
Syn Tom 1 LO   ,88 ,0  ,41
Syn Tom 1 LO   ,89 ,0  ,43
Syn Rim        ,90 ,0  ,32
Sagat          ,91 ,0  ,84
Thing          ,92 ,0  ,96
Bell Tree      ,93 ,0  ,96
Bell Tree      ,94 ,0  ,96
Wind Bell      ,95 ,0  ,96
Wind Bell      ,96 ,0  ,96
;
;(C) Toshikazu Sugama 1996-2001
;
